@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container-nav {
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;
    background: #ECDBBC;
    border-radius: 0%;
    box-shadow: none;
}

.dropdown {
    display: none;
}





@media screen and (max-width:799px) {


    .nav-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .two {
        display: none;
    }


    .nav-one img {
        margin: 1rem 0 0 2rem;
        width: 225px;
        padding: 5px;
    }

    .dropdown {
        display: block;
        margin: 35px 40px;

    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ECDBBC;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 6%;
        left: 0;
        margin-top: 7%;
    }

    .dropdown-content a {
        color: #971b16;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-weight: bold;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        transition-duration: 5s;
        transition-delay: 10s;
    }
}


@media screen and (min-width:800px) {
    .nav-one {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        justify-content: space-between;


    }

    .nav-one .nav-logo {
        width: 30%;
        height: auto;
    }

    .nav-one ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
        padding: 15px 20px;
        text-decoration: none;
        width: 55%;
        font-weight: 600;
        font-size: large;
    }

    .nav-one img {
        margin: 1rem 0 0 2rem;
        width: 225px;
        padding: 5px;
    }

    .nav-one ul li {
        list-style-type: none;
        text-decoration: none;

    }

    .nav-one ul a {
        color: #BA1F1B;
        text-align: center;
        text-decoration: none;

    }

    .nav-one .contactus-btn {
        background: transparent;
        border: 2px solid #BA1F1B;
        border-radius: 15px;
        padding: 5px 5px;
        width: 150px;
        height: auto;
        color: #BA1F1B;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
}